{% extends "base.html" %}

{% block title %}Professor Jiseon Yang - Publications{% endblock %}

{% block content %}
<h1 class="mb-4">Publications</h1>

<section class="section">
    <h2>Peer-Reviewed Publications</h2>
    <ol>
        <li>
            Nickerson CA, McLean RJC, Barrila J, <strong>Yang J</strong>, Thornhill S, Banken L, Porterfield DM, Poste G, Pellis N, and Mark Ott C. (2024). Microbiology of Human Spaceflight: Microbial Responses to Mechanical Forces that Impact Health and Habitat Sustainability. <em>Microbio Mol Biol Rev</em>. Aug 19:e0014423. doi: 10.1128/mmbr.00144-23 (IF 12.9).
        </li>
        <li>
            <strong>Yang J</strong>†, Barrila J, Nauman EA, Nydam SD, Yang S, Jin Park, Gutierrez-Jensen AD, Castro CL, Mark Ott C, Buss K, Steel J, Zakrajsek AD, Schuff MM, Nickerson CA†. (May 2024) Incremental increases in physiological fluid shear progressively alter pathogenic phenotypes and gene expression in multidrug resistant Salmonella. <em>Gut Microbes</em> DOI - 10.1080/19490976.2024.2357767 †Corresponding author (IF 12.2)
        </li>
        <li>
            Koroli, S., Buss, K., Blain, J. M., Nakka, G. S., Hong, M., McLean, R. J., Plugge, C. M. and <strong>Yang, J</strong>. (Jan 17 2024) 'Draft genome sequence of', <em>Microbiol Resour Announc</em>, 13(1), pp. e0034523. doi:10.1128/MRA.00345-23 †Corresponding author
        </li>
        <li>
            Santomartino, R., Averesch, N. J. H., Bhuiyan, M., Cockell, C. S., Colangelo, J., Gumulya, Y., Lehner, B., Lopez-Ayala, I., McMahon, S., Mohanty, A., Santa Maria, S. R., Urbaniak, C., Volger, R., <strong>Yang, J</strong> and Zea, L. (Mar 21 2023) 'Toward sustainable space exploration: a roadmap for harnessing the power of microorganisms', <em>Nat Commun</em>, 14(1), pp. 1391. doi:10.1038/s41467-023-37070-2 *Authors alphabetically ordered, equally contributed (IF 17.7)
        </li>
        <li>
            <strong>Yang, J</strong>., Barrila, J., Mark Ott, C., King, O., Bruce, R., McLean, R. J. C. and Nickerson, C. A. (Sep 06 2021) 'Longitudinal characterization of multispecies microbial populations recovered from spaceflight potable water', <em>NPJ Biofilms Microbiomes</em>, 7(1), pp. 70. doi:10.1038/s41522-021-00240-5 †Corresponding author (IF 8.462)
        </li>
    </ol>
</section>

<section class="section">
    <h2>Book Chapters and Non-Peer-Reviewed Publications</h2>
    <ol>
        <li>
            Barrila, J., Wilson, J. W., Soni, A., <strong>Yang, J</strong>., Ott, C. M. and Nickerson, C. A. (2016) 'Using Spaceflight and Spaceflight Analogue Culture for Novel Mechanistic Insight into Salmonella Pathogenesis', in Cheryl A. Nickerson, Neal R. Pellis and Ott, C.M. (eds.) <em>Effect of spaceflight and spaceflight analogue culture on human and microbial cells : novel insights into disease mechanisms</em>. New York, NY: Springer Science+Business Media, pp. 209-235.
        </li>
        <li>
            <strong>Yang, J</strong>., Thornhill, S. G., Barrila, J., Nickerson, C. A., Ott, C. M. and McLean, R. J. C. (2018) 'Microbiology of the Built Environment in Spacecraft Used for Human Flight', <em>Microbiology of Atypical Environments</em>, 45, pp. 3-26. doi:10.1016/bs.mim.2018.07.002
        </li>
    </ol>
</section>

<section class="section">
    <h2>Research Activity</h2>
    <ul>
        <li>
            Understanding the evolution of microbial interactions during spaceflight. Jiseon Yang Ph.D. (PI, Arizona State University). NASA (11/01/2019-10/30/2023). $749,999
        </li>
        <li>
            Spaceflight-Induced Changes in Microbial Virulence and the Impact to the Host Immune Response. Mark Ott, Ph.D. (PI); Cheryl A. Nickerson, Ph.D. (PI, Arizona State University). NASA (12/1/2019 - 11/30/2024). $2,100,000
        </li>
        <li>
            Polymicrobial biofilm growth and control during spaceflight. Robert McLean Ph.D. (PI); Cheryl A. Nickerson, Ph.D. (Co-PI); Jiseon Yang (Senior Person). NASA (10/1/2016-8/31/25) $1,255,879
        </li>
    </ul>
</section>

<p>For a complete list of publications, please visit my <a href="https://scholar.google.com/citations?user=__yH8X4AAAAJ&hl=en" target="_blank">Google Scholar profile</a>.</p>
{% endblock %}
